<div class="admin-wrapper">
  <div class="container admin-container">


    <h1>ディーラーの店舗登録</h1>

    <%= link_to "店舗一覧", admin_dealers_path, class: "btn btn-secondary btn-admin" %>
    <%= render partial: "form", locals: {dealer: @dealer} %>

  </div>
</div>
