<div class="top-wrapper text-center">
  <div class="container top-container">
    <h1>予約情報の確認</h1>
    <div class="confirm-wrapper text-left">
      <div class="row items">
        <div class="col-6 item heading">車種:</div>
        <div class="col-6 item content">タイプ1</div>
      </div>
      <div class="row items">
        <div class="col-6 item heading">日時:</div>
        <div class="col-6 item content">4/1 17:00</div>
      </div>
      <div class="row items">
        <div class="col-6 item heading">駅:</div>
        <div class="col-6 item content">JR尼崎駅</div>
      </div>
      <div class="row items">
        <div class="col-6 item heading">待ち合わせ:</div>
        <div class="col-6 item content">駅前のローソン</div>
      </div>
    </div>
    <%= image_tag ("jr_ashiya.png") %>
  </div>
</div>
