<div class="admin-wrapper">
  <div class="container admin-container">

    <h1>試乗可能時間の登録</h1>

    <nav class = "justify-content-end">
      <%= link_to "一覧", admin_stocks_path, class: "nav-link" %>
    </nav>

    <%= render partial: "form", locals: {stock: @stock} %>

  </div>
</div>
